opencv-python
numpy
scipy
matplotlib
scikit-image>=0.16.2  # update old version installed by albumentations
pillow<7  # fix broken Pillow 7
dask>=2.9.1  # to remove yaml warning
scikit-learn
pandas
ipykernel
tensorboardX
tensorboard
pyyaml
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1
torchvision==0.6.1+cpu
segmentation-models-pytorch==0.1.0
albumentations==0.4.5
sagemaker>=2.3.0
