aws:
  aws_access_key_id:
  aws_secret_access_key:
  aws_default_region: eu-west-1
  model_bucket:
  input_bucket:
  output_bucket:
  queue_url:
  ecs:
    cluster:
    taskDefinition:
    launchType: FARGATE
    networkConfiguration:
      awsvpcConfiguration:
        subnets:
          -
        securityGroups:
          -
        assignPublicIp: ENABLED